{{#> main}}
  <h2>Dashboard</h2>
  <section>
    <h3>Your Blog Posts</h3>
    {{#if posts.length}}
      {{#each posts}}
        <article>
          <h4>{{title}}</h4>
          <p>{{content}}</p>
          <p>Created on {{createdAt}}</p>
          <a href="/dashboard/edit/{{id}}">Edit</a> | <a href="/delete/{{id}}">Delete</a>
        </article>
      {{/each}}
    {{else}}
      <p>You haven't created any blog posts yet. <a href="/dashboard/create">Create one now</a>.</p>
    {{/if}}
  </section>
{{/main}}
